header button{
    background-color: firebrick;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    font-size: 12pt;
    font-weight: bold;
}

#choiceMsg {
    text-decoration: underline;
    color: firebrick;
}