header > h1{
    text-align: center;
}

main > div{
    padding-top: 20px;
    
}
main button{
    background-color: firebrick;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    font-size: 12pt;
    font-weight: bold;
}

header button{
    background-color: firebrick;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    font-size: 12pt;
    font-weight: bold;
}